/* TEAM */

.team-list {
  display: flex;
}

.team-list .worker + .worker {
  margin-left: 30px;
}

.our-team {
  @extend %center;

  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;

  background-color: var(--team-background-color);
}

.our-team .worker {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.name-title {
  margin-bottom: 10px;
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

.our-team .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.worker a {
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
  @extend %center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
}

.worker .icon-list {
  @extend %center;

  margin-bottom: 30px;
}

.our-team .icon {
  width: 20px;
  height: 20px;
}

.icon {
  fill: currentColor;
}
