/* LOGO */

.logo {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 28px;
  }
    @media screen and (max-width: 767px) {
  }
  padding: 26px 0px;
}

.second-logo {
  color: var(--second-logo-color);
}

.footer .second-logo {
  color: var(--white-color);
}
