:root {
    --white-color: #FFFFFF;
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --accent-color: #2196F3;
    --dark-background-color: #2F303A;
    --team-background-color: #F5F4FA;
    --second-logo-color: #000000;
    --herobut-accent-color: #188CE8;
}
